.product-card {
  aspect-ratio: 3 / 2; /* mantiene proporción sin forzar altura fija */
  overflow: hidden;
}

.product-image {
  margin-top: 10px;
  width: 90%;
  height: 65%;
  object-fit: contain;
  
}

.product-info {
  text-align: left;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
