/* Estilos generales */
body {
  background-color: var(--background);
  color: var(--text);
  font-family: 'Poppins', sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease;
}

/*  Modo Claro (default) */
/*  Modo Claro (default) */
/*  Modo Claro (default) */
:root {
  --background: #FFFCF2;       /* crema muy suave */
  --text: #3E3A31;             /* marr贸n oscuro */
  --card: #FFFFFF;             /* blanco */
  --border: #E9E4CE;           /* beige claro */
  --primary: #FAE29C;          /* amarillo miel */
  --primary-hover: #D4C585;    /* amarillo miel oscuro */
  --button-text: #3E3A31;      /* marr贸n oscuro */
  --secondary: #A97C50;        /* marr贸n miel c谩lido */
  --secondary-hover: #7E5A32;  /* marr贸n oscuro madera */
}

/*  Modo Oscuro */
[data-theme="dark"] {
  --background: #1A150F;       /* marr贸n muy oscuro */
  --text: #F5F1E7;             /* crema claro */
  --card: #221E18;             /* marr贸n oscuro */
  --border: #2F2A23;           /* marr贸n madera */
  --primary: #B3873B;          /* dorado miel */
  --primary-hover: #8A6A34;    /* dorado oscuro */
  --button-text: #FFFDF6;      /* crema */
  --secondary: #7D5829;        /* marr贸n medio */
  --secondary-hover: #5C421F;  /* marr贸n oscuro madera */
}



/* Componentes */
.card {
  background-color: var(--card);
  border: 1px solid var(--border);
  border-radius: 12px;
  padding: 1rem;
}

button {
  background-color: var(--primary);
  color: var(--button-text);
  border: none;
  padding: 0.7rem 1.2rem;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: var(--primary-hover);
}
